@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-canvas-cream text-ink-black font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
  /* Custom scrollbar for a more integrated feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #F3F0EE;
  }
  ::-webkit-scrollbar-thumb {
    background: #D1CDC7;
    border-radius: 999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b4aea8;
  }

  /* Add any other base styles you need */
}

/* Include the font from Google Fonts if MarkForMC is not available */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
